



.TimerBox{
    display: flex;
    justify-content: flex-end;
}


@media only screen and (max-width: 767px) {
    .TimerBox{
        /* margin-left: 0px; */
        justify-content: center;
        
    }
}


@media only screen and (max-width: 400px) {
    .ResponsiveButton{
        /* margin-left: 0px; */
        font-size: 12px !important;
        padding: 8px !important;
        
    }
}